@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
        
        body {
            font-family: 'Pokemon Solid', sans-serif;
            background: url('../image/Pokemon-Wallpaper-with-Sleeping-Pikachu.png');
        }

        .container {
            max-width: 500px;
            position: absolute;
            top: 20%;
            left: 50%;
            margin: -100px 0 0 -175px;
            text-align: center;
        }

        .info {
            font-size: 20px;
            font-weight: 400;
        }

        .form {
            text-align: center;
            padding: 20px;
            .input,
            .button {
                margin: 10px;
                padding: 10px;
            }
        }

        .title{
            color: #ffcc03;
            font-size: 26px;
        }

        button {
            background: #ffcc03;
            font-family: inherit;
            padding: 0.6em 1.3em;
            font-weight: 900;
            font-size: 14px;
            border: 3px solid black;
            border-radius: 0.4em;
            box-shadow: 0.1em 0.1em;
            cursor: pointer;
        }

        button:hover {
            transform: translate(-0.05em, -0.05em);
            box-shadow: 0.15em 0.15em;
        }

        button:active {
            transform: translate(0.05em, 0.05em);
            box-shadow: 0.05em 0.05em;
        }